# ============================
# Git ignore for tf-project
# ============================

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.copilot

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
.env/
.conda/
.conda_env/
pip-wheel-metadata/

# Build / distribution
build/
dist/
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Logs / temp
logs/
tmp/
temp/
*.tmp

# IDE / editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Large data / training artifacts
data/trajectories.csv

# Docker stuff (keep Dockerfile, ignore extra local files)
docker-compose.override.yml
*.local.yml
.lightning_studio/on_stop.sh
.gitignore
.wget-hsts
.cursor-server
.vscode-server
.windsurf-server
.lightning_studio/.studiorc
.lightning_studio/on_start.sh
.keras/keras.json

# training artifacts
runs/
*.h5
*.weights.h5


configs/debug.yaml