numpy>=1.26,<2.2
absl-py
protobuf
typing_extensions
six
h5py
gast
wrapt
flatbuffers
termcolor
opt_einsum
astunparse
ml-dtypes

keras-nightly>=3.6.0.dev
google_pasta>=0.1.1
grpcio>=1.24.3,<2.0
libclang>=13.0.0
tb-nightly~=2.19.0a
